<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name ="ElectronicsGoods" connectionString="D:\\Мои документы\Документы\ООП\Лаба 3\goodsElectronics.txt"/>
    <add name ="AptekaGoods" connectionString="D:\\Мои документы\Документы\ООП\Лаба 3\goodsApteka.txt"/>
    <add name ="StoreGoods" connectionString="D:\\Мои документы\Документы\ООП\Лаба 3\goodsStore.txt"/>
  </connectionStrings>
</configuration>